<p id="notice"><%= notice %></p>

<h2><strong>Orders History</strong></h2><br>

<table class="table table-striped table-hover table-responsive datatable" id="table-movements">
  <thead>
    <tr>
      <th>Order Nr</th>
      <th>Currency</th>
      <th>Quantity</th>
      <th>Price</th>
      <th>Total Amount</th>
      <th>Date</th>
      <th>Operation</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @movements.each do |movement| %>
      <tr>
        <td><%= movement.id %></td>
        <td><%= Crypto.find(movement.crypto_id).symbol %></td>
        <td><%= movement.quantity %></td>
        <td><%= movement.price.to_f.round(3) %></td>
        <td><%= (movement.price.to_f * movement.quantity.to_f).round(3) %></td>
        <td><%= movement.date %></td>
        <td><%= movement.operation.capitalize %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
