<%= render 'layouts/flash' %>

<h3><strong>Movements</strong></h3><br><br>
<div class="tab responsive">
  <button class="tablinks" onclick="toggleTabs(event, 'details')" id="defaultOpen" title="Details"><strong><i class="fa fa-list fa-2x"></i></strong></button>
  <button class="tablinks" onclick="toggleTabs(event, 'graphs')" title="Graphs"><strong><i class="glyphicon glyphicon-stats fa-2x"></i></strong></button>
</div>

<div id="details" class="tabcontent"><br>
  <div class="table">
    <table class="table table-hover text-center" id="table-movements">
      <thead >
        <tr>
          <th class="text-center">Order Nr</th>
          <th class="text-center">Currency</th>
          <th class="text-center">Quantity</th>
          <th class="text-center">Price</th>
          <th class="text-center">Total Amount</th>
          <th class="text-center">Date</th>
          <th class="text-center">Operation</th>
        </tr>
      </thead>
      <tbody>
        <% @movements.each do |movement| %>
          <tr>
            <td><%= movement.id %></td>
            <td><%= Crypto.find(movement.crypto_id).symbol %></td>
            <td><%= movement.quantity %></td>
            <td><%= movement.price.to_f.round(3) %></td>
            <td><%= @total_amount = (movement.price.to_f * movement.quantity.to_f).round(3) %></td>
            <td><%= @date = movement.date.strftime('%d/%m/%Y') %></td>
            <td><%= movement.operation.capitalize %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<div id="graphs" class="tabcontent responsive"><br>
  <!-- Nav tabs -->
  <ul class="nav nav-tabs" id="movementsTab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" id="transactions-tab" data-toggle="tab" href="#transanctions" role="tab" aria-controls="transanctions" aria-selected="true">Transactions</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="amount-tab" data-toggle="tab" href="#amount" role="tab" aria-controls="amount" aria-selected="false">Total Amount</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="operations-tab" data-toggle="tab" href="#operations" role="tab" aria-controls="operations" aria-selected="false">Operations</a>
    </li>
  </ul><br><br>

  <!-- Tab panes -->
  <div class="tab-content">
    <div class="tab-pane active" id="transanctions" role="tabpanel" aria-labelledby="transactions-tab">
      <div class= "col-md-2">
      </div>
      <div class= "col-md-8">
        <%= column_chart Movement.group_by_day_of_week(:created_at, format: "%a").count, title: "Total transactions per day (Last Week)" %>
      </div>
    </div>
    <div class="tab-pane" id="amount" role="tabpanel" aria-labelledby="amount-tab">
      <div class= "col-md-2">
      </div>
      <div class= "col-md-8">
        <%= column_chart Movement.group_by_day(:created_at).sum('price*quantity'), prefix: "$ ", title: "Total amount operated per day" %>
      </div>
    </div>
    <div class="tab-pane" id="operations" role="tabpanel" aria-labelledby="operations-tab">
      <div class= "col-md-2">
      </div>
      <div class= "col-md-8">
        <%= pie_chart Movement.group(:operation).count, prefix: "$ ", title: "Total operations" %>
      </div>
    </div>
  </div>
  <div class="clearfix"></div><br><br><hr><br>
</div>

<%= javascript_include_tag 'tabs' %>