<div class="text-field">
    <%= form.text_field :name, type: 'text', class: 'form-control-form', placeholder: 'Full Name'  %>
    <span class="fa fa-user" id="input-font-awesome"></span>

</div>

<div class="text-field">
    <%= form.text_field :email, type: 'email', class: 'form-control-form', placeholder: 'Email'%>
    <span class="fa fa-envelope" id="input-font-awesome"></span>
    <small id="" class="form-text text-muted">(We'll never share your email with anyone else.)</small>
</div>

<div class="password-field">
    <%= form.password_field :password, class: 'form-control-form', placeholder: 'Password' %>
    <span class="fa fa-lock" id="input-font-awesome"></span>
</div>
<div class="password-field">
    <%= form.password_field :password_confirmation, class: 'form-control-form', placeholder: 'Password Confirmation' %>
    <span class="fa fa-lock" id="input-font-awesome"></span>
</div>

<div class="submit-field">
    <%= form.submit :'Sign Up', class: 'btn-lgin', placeholder: 'Login'  %>
</div>






