<p>
  <div class="col-md-2">
  	<b>Name:</b>
  </div>
  <div class="col-md-4">
  	<%= current_user.name.split(' ').first %>
  </div>
</p>
<br>
<p>
  <div class="col-md-2">
  	<b>Username:</b>
  </div>
  <div class="col-md-4">
  	<%= current_user.name.split(' ').first %>
  </div>
</p>
<br>
<p>
  <div class="col-md-2">
  	<b>Birthdate:</b>
  </div>
  <div class="col-md-4">
  	<%= current_user.birthdate.strftime('%d/%m/%y') %>
  </div>
</p>
<br>
<p>
  <div class="col-md-2">
  	<b>Location:</b>
  </div>
  <div class="col-md-4">
  	<%= current_user.country %>
  </div>
</p>
<div class="clearfix"></div>
<p>
  <div class="col-md-2">
  	<b>Email:</b>
  </div>
  <div class="col-md-4">
  	<%= current_user.email %>
  </div>
</p>

