<%= render 'layouts/flash' %>

<h3><strong>Dashboard </strong></h3><br><br>

<div class="tab responsive">
  <button class="tablinks" onclick="toggleTabs(event, 'list-cryptos')" id="defaultOpen" title="Top 50"><strong><i class="fa fa-list fa-2x "></i></strong>
  </button>
  <button class="tablinks" onclick="toggleTabs(event, 'graph-btc')" title="Bitcoin" ><strong><i class="fa fa-btc fa-2x "></i></strong>
  </button>
  <button class="tablinks" onclick="toggleTabs(event, 'tab-ranking')" title="Ranking" ><strong><i class="fa fa-trophy fa-2x "></i></strong>
  </button>
</div>

<div id="list-cryptos" class="tabcontent" >
  <div class="card">
      <h4 class="text-center"> <strong> Top 50 currencies </strong></h4>
  </div>
  <div class="table">
    <table class="table table-hover table-condensed text-center" id="table-index">
      <thead class="">
        <th class="text-center">Rank</th>
        <th class="text-center">Symbol</th>
        <th class="text-center">Price (U$D)</th>
        <th class="text-center"> % (1 hs)</th>
        <th class="text-center"> % (24 hs)</th>
      </thead>
      <tbody class="table-index">
        <% @coins.each do |c| %>
          <tr>
            <td><%= c['rank'] %></td>
            <td> <img src=<%=find_icon(c['symbol'].downcase)%> width="17vw" alt="">
              <abbr title="<%= c["name"] %>"><%= link_to c["symbol"], "/lookup?q=#{c['symbol']}" %></abbr></td>
            <td> <%= c["price_usd"].to_d.round(5) %> </td>
            <td class="color-text"> <%= c["percent_change_1h"] %> </td>
            <td class="color-text"> <%= c["percent_change_24h"] %> </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<div id="graph-btc" class="tabcontent responsive">
  <div class="">
    <div class="card">
        <h4 class="text-center"> <strong> <i class="fa fa-btc"></i> BTC Price (U$D) - Last Month </strong></h4>
    </div>
    <div class="panel-body">
      <%= line_chart @monthly, min: nil, max: nil, prefix: "$ " %>
    </div>
  </div>
</div>

<!--  Add Users Profit Rankings -->
<div id="tab-ranking" class="tabcontent">
  <div class="card">
      <h4 class="text-center"> <strong> User's Ranking </strong></h4>
  </div>
  <div class="table">
    <table class="table table-hover text-center" id="table-ranking">
      <thead>
        <tr>
          <th class="text-center"> Rank </th>
          <th class="text-center"> User </th>
          <th class="text-center"> Amount </th>
          <th class="text-center"> % Profit </th>
        </tr>
      </thead>
      <tbody>
        <% User.all.each_with_index do |u,i| %>
          <tr>
              <td>
              </td>
              <td>
                  <%= u.name.split(' ').first %>
              </td>
              <td>
                  <%= @initial_amount + @profit_array[i] %>
              </td>
              <td>
                  <span class= "color-text"><%= ((@profit_array[i].to_d)*100/@initial_amount).round(2) %> % </span>
              </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<%= javascript_include_tag 'tabs' %>
