<% flash.each do |key, value| %>
  <div class="alert alert-<%= key %>"><%= value %></div>
<% end %>

<h3 class="text-muted"> <strong> Top 50 Crypto Currencies of the day</strong> </h3><br><br>
<br>

<div class="col-md-6">
  <div class="table custom-shadow">
    <table class="table table-hover text-center" id="table-index">
      <thead class="">
        <th class="text-center">Rank</th>
        <th class="text-center">Symbol</th>
        <th class="text-center">Price (U$D)</th>
        <th class="text-center"> % (1 hs)</th>
        <th class="text-center"> % (24 hs)</th>
      </thead>
      <tbody class="table-index">
        <% @coins.each do |c| %>
          <tr>
            <td><%= c['rank'] %></td>
            <td> <i class="<%=find_icon(c['symbol'].downcase)%>"</i><abbr title="<%= c["name"] %>"><%= link_to c["symbol"], "/lookup?q=#{c['symbol']}" %></abbr></td>
            <td> <%= c["price_usd"].to_d.round(5) %> </td>
            <td class="color-text"> <%= c["percent_change_1h"] %> </td>
            <td class="color-text"> <%= c["percent_change_24h"] %> </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
<br><br>
<div class="col-md-5">  
  <div class="panel-default custom-shadow"><br><br>
    <div class="card">
        <h5 class="text-center"> <strong> <i class="fa fa-btc"></i> BTC Price (U$D) - Last Month </strong></h5>
    </div>
    <div class="panel-body">
      <!-- Append current value, and graph -->
      <% @historical.store(Time.now().strftime('%Y-%m-%d'), @coins.first['price_usd'] ) %>
      <%= line_chart @historical, min: nil, max: nil, prefix: "$ " %>
    </div>
  </div>
</div>
<div class="clearfix"></div>

<!--  Add Users Profit Rankings -->

<div class="col-md-6">
  <div class="table custom-shadow">
    <table class="table table-hover text-center" id="table-ranking">
      <thead>
        <tr>
          <th class="text-center"> Rank </th>
          <th class="text-center"> User </th>
          <th class="text-center"> Balance </th>
        </tr>
      </thead>
      <tbody>
        <% User.all.each_with_index do |u,i| %>
          <tr>
              <td>
              </td>
              <td>
                  <%= u.name.split(' ').first %>
              </td>
              <td>
                  <%= @initial_amount + @profit_array[i] %>
              </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>