<% flash.each do |key, value| %>
  <div class="alert alert-<%= key %>"><%= value %></div>
<% end %>
<strong id="last-updated">
  <button class="pull-right btn btn-default" onClick="history.go(0)">
    <i class="fa fa-repeat"> . </i>
    <strong> <p class="pull-right"> Last Updated: <%= Time.now.strftime('%H:%M:%S') %></p></strong>
  </button>
</strong>

<h3 class="text-muted"> <strong> Top 50 Crypto Currencies of the day</strong> </h3><br><br>
<br>
<div class="col-md-8">
  <div class="">
    <table class="table datatable table-responsive" id="table-index">
      <thead class="">
        <th>Rank</th>
        <th>Symbol</th>
        <th>Name</th>
        <th>Price (U$D)</th>
        <th> % (1 hs)</th>
        <th> % (24 hs)</th>
      </thead>
      <tbody>
        <% @coins.each do |c| %>
          <tr>
            <td><%= c['rank'] %></td>
            <td> <%= link_to c["symbol"], "/lookup?q=#{c['symbol']}" %> </td>
            <td> <%= link_to c["name"], "/lookup?q=#{c['symbol']}" %> </td>
            <td> <%= c["price_usd"].to_d.round(5) %> </td>
            <td class="color-text"> <%= c["percent_change_1h"] %> </td>
            <td class="color-text"> <%= c["percent_change_24h"] %> </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<div class="col-md-4">  
  <div class="  panel-default ">
    <div class="card">
        <h5 class="text-center"> <strong> <i class="fa fa-btc"></i> BTC Price (U$D) - Last Month </strong></h5>
    </div>
    <div class="panel-body">
      <!-- Append current value, and graph -->
      <% @historical.store(Time.now().strftime('%Y-%m-%d'), @coins.first['price_usd'] ) %>
      <%= line_chart @historical, min: nil, max: nil, prefix: "$ " %>
    </div>
  </div>
</div>


<!--  Add Users Profit Rankings -->

<!--   <div class="col-md-2 panel panel-default">
    <div class="">
      <h4 class="text-muted text-center"> Users Ranking</h4>
    </div>
    <div class="">
      <table class="table">
        <thead>
            <th> User </th>
            <th> Balance </th>
        </thead>
        <tbody>
          <tr>
            <td>
               User.all.each do |u| %>
                = u.name.partition(" ").first %>
              end %>
            </td>
            <td>
               Portfolio.all.each do |p| %>
               $  p.balance.round(2) %>
              end %>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div> -->
