<% flash.each do |key, value| %>
  <div class="alert alert-<%= key %>"><%= value %></div>
<% end %>

<br>
<div class="container">
	<% if @symbol %>
		<% @coins.each do |c| %>
			<% if @symbol == c["symbol"] %>
				<%= c["symbol"] %> <br>
				<%= c["name"] %>: U$D <%= c["price_usd"] %> <br>
				<%= c["percent_change_24h"] %> %
			<% end %>
		<% end %>
	<% end %>
</div>

