<%= render 'layouts/flash' %>

<h2>Advanced Search</h2><br><br>

<%= form_for @search do |f| %>
	
	<div class="field col-md-7">
		<%= f.label :min_price, "Min Price (U$D):" %>  <%= f.text_field :min_price, size: 10, class: "custom-input-short text-center" %> 
		<div class="clearfix"></div><br>
		<%= f.label :max_price, "Max Price (U$D):" %>  <%= f.text_field :max_price, size: 10, class: "custom-input-short text-center" %>
	</div>	
	<div class="clearfix"></div>
	<div class="Variation col-md-7">
		<br>
		<%= f.label "Variation (24 hs) greater than (%):" %> <%= f.text_field :percent_change_24h, size: 10, class: "custom-input-short text-center" %>
	</div>
	<div class="clearfix"></div>
	<br>

	<div class="field actions col-md-1">
		<p>
			<%= f.submit "Search", class: "btn btn-primary btn-large" %>
		</p>
	</div>
	<div class="field actions col-md-1">
		<p>
			<%= link_to "Go Back", root_path, class: "btn btn-default" %>
		</p>
	</div>
<% end %> 