<h2> Advanced Search Results </h2>
<p>
	<%= link_to 'New Search', new_search_path, class: "btn btn-primary"%>
</p>

<% if !@search.advanced_search %>
	<p>
		No results found. Please try again with different parameters.
	</p>

<% else %>
	<% @search.advanced_search.each do |c| %>
		<div class="panel">
			<div class="panel-body">
				<div class="col-md-8">
					<h3>
						<strong> <%= link_to c["symbol"], "/lookup?q=#{c['symbol']}" %> </strong><br>
					</h3>
					<p>
					<strong>Name:</strong>
						<%= c["name"] %> <br> 
					</p>
					<p>		
						<strong>Current Price:</strong>
						U$D <%= c["price_usd"] %> <br>
					</p>
					<p>
						<strong>Variation (1h):</strong>
						<%= c["percent_change_1h"] %> %
					</p>
					<p>
						<strong>Variation (24h):</strong>
						<%= c["percent_change_24h"] %> %
					</p>
					<p>
						<strong>Variation (7 days):</strong>
						<%= c["percent_change_7d"] %> %
					</p>
				</div>
			</div>
		</div>
	<% end %>
<% end %>

<%= paginate @search_filtered, :left => 1, :right => 3 %>

<table>
	<thead>
		<tr>
			<th>id</th>
			<th>name</th>
		</tr>
	</thead>
	<tbody>
		<% @search.advanced_search.each do |c| %>
			<tr>
				<td><%= c['id'] %></td>
				<td><%= c['name']%></td>
			</tr>
		<% end %>
	</tbody>
</table>

<%= paginate @search_filtered, :left => 1, :right => 3 %>

<%= @search.advanced_search %> <br><hr>
<%= Search.all.last.id %>