 <!-- form_with(model: crypto, local: true) do |form|  -->
<%= form_with scope: :crypto, url: new_portfolio_crypto_path(current_portfolio.id), local: true do |form| %>

  <% if crypto.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(crypto.errors.count, "error") %> prohibited this crypto from being saved:</h2>
      <ul>
      <% crypto.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
    <div class="field">
      <%= form.number_field :user_id, value: current_user.id, type: "hidden" %>
    </div>  
  
    <div class="field">
      <%= form.text_field :last_action, value: "Buy", type: "hidden" %>
    </div> 

    <div class="field">
      <%= form.label :symbol %>
      <%= form.text_field :symbol , id: "selected-symbol" , class: "text-center" , readonly: true%>
    </div>

    <div class="field">
      <%= form.label "Buying Price" %>
      <%= form.number_field :cost_per, id: "selected-price" , onchange: "showTotalAmount()",  step: :any, oninput: "validity.valid||(value='')" %> (0.1 % added to simulate Broker Comision)
    </div>

    <div class="field">
      <%= form.label "Quantity" %>
      <%= form.number_field :amount_owned, id: "selected-quantity", onchange: "showTotalAmount()" ,value: "1", min: "0.01", max: "500", step: :any, class: "text-center", oninput: "validity.valid||(value='')" %>
    </div>
    
    <div class="actions">
      <%= form.submit 'Buy', id: "button-edit", class: "btn btn-success", data: { confirm: 'Are you sure?'} %>
    </div>

<% end %>