<%= form_with(model: crypto, local: true, id: "form-edit-crypto") do |form| %>
  <% if crypto.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(crypto.errors.count, "error") %> prohibited this crypto from being saved:</h2>
      <ul>
      <% crypto.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
    <div class="field">
      <%= form.number_field :user_id, value: current_user.id, type: "hidden" %>
    </div>

    <div class="field">
      <%= form.label "Symbol:" %>
      <%= crypto.symbol %>
    </div>
    
    <div class="field">
      <%= form.label "Current Price:" %>
      U$D <%= @current_usd = current_coin(crypto.symbol)["price_usd"].to_d.round(5) %>
    </div>


    <div class="field">
     <%= form.label "Check the box if you want to sell" %>
     <%= form.check_box :last_action, {:class => "", :style => ""}, 'Sell', 'Buy' %>
    </div>

    <div class="field">
      <%= form.label "Transaction Price:" %>
      <%= form.number_field :cost_per, min: "#{(@current_usd.round(5))*1.001}", :value => @current_usd*1.001,  step: :any, class: "text-center" %> (% added to simulate Broker Comision)
    </div>

    <div class="field">
      <%= form.label "Amount owned: " %>
      <%= crypto.amount_owned.to_d.round(2) %>
    </div>

    <div class="field">
      <%= form.label "Amount" %>
      <%= form.number_field :last_transaction, value: "1", min: "0.01", max: "500", step: :any, class: "text-center" %>
    </div>
    
    <div class="actions">
      <%= form.submit 'Place Order', class: "btn btn-success", data: { confirm: 'Are you sure?'} %>
    </div>

<% end %>
