<% flash.each do |key, value| %>
  <div class="alert alert-<%= key %>"><%= value %></div>
<% end %>

<h3><strong>Portfolio Details </strong></h3><br><br>

<div class="tab responsive">
  <button class="tablinks" onclick="toggleTabs(event, 'graphs-portfolio')" id="defaultOpen" title="General"><strong><i class="glyphicon glyphicon-stats fa-2x"></i></strong></button>
  <button class="tablinks" onclick="toggleTabs(event, 'details-portfolio')" title="Details"><strong><i class="fa fa-list fa-2x"></i></strong></button>
</div>

<div id="details-portfolio" class="tabcontent" ><br>
  <div class="table">
    <table class="table table-hover table-condensed text-center" id="table-cryptos"  >
      <thead>
        <tr>
          <th class="text-center">Symbol</th>
          <th class="text-center">Name</th>
          <th class="text-center">Current Price</th>
          <th class="text-center">1 hr</th>
          <th class="text-center">24 hr</th>
          <th class="text-center">7 days</th>
          <th class="text-center">Qty</th>
          <th class="text-center">Buying Price</th>
          <th class="text-center">Current Amount</th>
          <th class="text-center">Balance (U$D)</th>
          <th class="text-center"> Order</th>
        </tr>
      </thead>

      <tbody>
        <% @current_amount = [] %>
        <% @current_name = [] %>
        <% @cryptos.each do |crypto| %>
          <% if (crypto.user_id == current_user.id)  && (crypto.amount_owned != 0) %>
            <tr>
              <td><%= link_to crypto.symbol, edit_crypto_path(crypto.id) %></td>
              <% for c in @coins %>
                <% if (crypto.symbol == c["symbol"]) %>
                  <% @current_name << c["symbol"].upcase %>
                  <td> <%= link_to c["name"], edit_crypto_path(crypto.id) %> </td>
                  <td> $<%= c["price_usd"].to_d.round(4) %> </td>
                  <td  class="color-text"> <%= c["percent_change_1h"] %> % </td>
                  <td class="color-text"> <%= c["percent_change_24h"] %> %</td>
                  <td class="color-text"> <%= c["percent_change_7d"] %> %</td>
                  <td> <%= crypto.amount_owned.to_d %> </td>
                  <td> <%= number_to_currency(crypto.cost_per) %></td>
                  <% @current_amount << (c["price_usd"].to_d * crypto.amount_owned.to_d).round(2) %>
                  <td> $ <%= @current_amount.last %> </td>
                  <td> <span class="color-text"> <%= @balance = ((c["price_usd"].to_d * crypto.amount_owned.to_d)-(crypto.cost_per.to_d * crypto.amount_owned.to_d)).round(2) %> </span> </td>
                <% end %>
              <% end %>
              <td> <%= link_to 'New Order', edit_crypto_path(crypto) %></td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<div id="graphs-portfolio" class="tabcontent responsive"><br>
  <div class=""> 
    <h4> <strong>Portfolio Summary </strong></h4>
    <div class="panel-body"> 
      <div class="col-md-4">
        <br>
        <p><br>
          <strong>Total Portfolio Profit (U$D): </strong> <p class="text-center"> <span class= "color-text"><%= @profit.to_d.round(2) %>  (% <%= ((@profit.to_d)*100/@initial_amount).round(2) %> )</span> </p>
        </p><hr>
        <p><br>
          <strong>Total Amount Invested: </strong><p class="text-center"> U$D <%= @t_invested = @initial_amount - current_portfolio.balance.round(2) %> </p> 
        </p><hr>
        <p><br>
          <strong>Total Amount Available to Invest: </strong> <p class="text-center"> U$D <%= @t_available = current_portfolio.balance.round(2) %> </p>
        </p><hr>
      </div>
      <div class= "col-md-4">
        <%= pie_chart  Hash[@current_name.zip @current_amount], prefix: "$ ", title: "Currencies Distribution"  %>
      </div><br>
      <div class="col-md-4 text-center"> 
        <br><br><br><br>
        <%= link_to 'New Order', new_portfolio_crypto_path(current_portfolio.id), class: "btn-custom btn-custom-blue ripple", :style => 'color: white; text-decoration: none;' %>
        <br><br><hr><br>
        <%= link_to 'Movements', portfolio_movements_path(current_portfolio.id), class: "btn-custom btn-custom-blue ripple", :style => 'color: white; text-decoration: none;' %>
      </div>
    </div>
    <div class="panel">
        <h4><strong>Total Consolidated Amount: </strong></h4>  
        <div class="col-md-2"><span><small>.</small></span></div>
        <div class="">   
          <h3 class="text-primary ml-3"> <strong>U$D <%= (@t_invested + @t_available + @profit).round(2) %> </strong> </h3>
        </div>
    </div>
  </div>
</div>

<%= javascript_include_tag 'tabs' %>