<div class="panel panel-default">
	<div class="panel-heading">
		<h4><strong>New Order</strong></h4>
		
	</div>
	<div class="panel-body">
		
		<p> Choose the currency </p>
		<% array_names = @coins.map {|c| c['symbol']} %>
		<% array_prices = @coins.map{|c| c['price_usd']} %>
      	<% @user_coins = [] %>
		<% @cryptos.each do |crypto| %>
      		<% if crypto.user_id == current_user.id %>
      			<% @user_coins.push((crypto['symbol'])) unless @user_coins.include?((crypto['symbol'])) %>
			<% end %>
		<% end %>
		
		<%= select(:model, :coin, @coins.map {|c| [c['symbol'] + " | " + c['name'] + " | " + c['price_usd']]},{:prompt => 'Symbol | name'}, id:"new-order", onchange: "showForm('#{array_names}', '#{@user_coins}', '#{array_prices}')" )%> <br>
		<br>

		<div id='form-new' style='visibility: hidden'>
			<%= render 'form', crypto: @crypto %>
		</div>
	</div>

	<div class="panel-footer" id="total-amount-footer" style='visibility: hidden;'>
		<div class="row">
			<div class="col-md-6">
		      <%= label_tag "Total Amount to debit: " %>
		      <input type="number"  id="total-amount"  value="" readonly="readonly" />
		      <p id="error-amount" style="visibility: hidden; color: red" class="text-center"> Not enough funds, reduce quantity</p>
			</div>
			<div class="col-md-6">
		      <%= label_tag "Total Amount Available: " %>
		      <input type="number"  id="total-amount-available" value="<%=current_portfolio.balance.to_d.round(2)%>" readonly="readonly" />
			</div>
		</div>
	</div>
</div>	

<script>
	function showForm(names, user_coins, array_prices){
		var selectOption = document.querySelector('#new-order');
		var userInput = selectOption.options[selectOption.selectedIndex].value;
		var userInput_coin = userInput.split('|')[0].slice(0,-1)
		var userInput_price = userInput.split('|')[2].slice(0,-1)

		if (user_coins.indexOf(userInput_coin) > -1) {
		 	window.location.href = "/lookup?q=" + userInput_coin;
		} else {
		 	document.querySelector('#form-new').style.visibility = 'visible'
		 	document.querySelector('#total-amount-footer').style.visibility = 'visible'
		 	document.querySelector('#selected-symbol').value = userInput_coin
		 	document.querySelector('#selected-price').value = userInput_price * 1.001
		 	document.querySelector('#selected-price').min = userInput_price * 1.001
			document.querySelector('#total-amount').value = userInput_price * 1.001
		}
		return false;
	}

	function showTotalAmount(){
		document.querySelector('#total-amount').value = document.querySelector('#selected-price').value * document.querySelector('#selected-quantity').value * 1.001
		checkAmount()
	}	

	function checkAmount(){
		total_to_buy =  document.querySelector('#total-amount').value
		total_available = document.querySelector('#total-amount-available').value

		if ((total_to_buy - total_available > 0) || (total_to_buy < 0)){
			console.log("true")
			document.querySelector('#error-amount').style.visibility = 'visible';
			document.querySelector('#button-edit').disabled = true;
		}else{
			document.querySelector('#error-amount').style.visibility = 'hidden';
			document.querySelector('#button-edit').disabled = false;
		}
	}
</script>