<!DOCTYPE html>
<html>
  <head>
    <title>Stock Portfolio Simulator</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
    <!--  JQuery form validation -->
    <%= javascript_include_tag "https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.15.1/jquery.validate.min.js" %>
    <%= javascript_include_tag "https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.15.1/additional-methods.min.js" %>
    
    <meta charset="UTF-8">
    <meta name=viewport content="width=device-width, initial-scale=1">
    <!-- Reload page every minute -->
    <!-- <meta http-equiv="refresh" content="60"/> -->

  </head>

  <body>
    
    <%= render 'home/navbar' %>
    <div class="container">
      <%= yield %>
    </div>

  </body>
</html>

