<!DOCTYPE html>
<html>
  <head>
    <title>Stock Portfolio Simulator</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
    <!--  JQuery form validation -->
    <%= javascript_include_tag "https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.15.1/jquery.validate.min.js" %>
    <%= javascript_include_tag "https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.15.1/additional-methods.min.js" %>

    <!-- Chart Movements -->
    <link href="https://cdn.jsdelivr.net/npm/chartist@0.11.0/dist/chartist.min.css" rel="stylesheet">
    <!-- Chart BTC -->
    <script src="https://www.amcharts.com/lib/3/amcharts.js"></script>
    <script src="https://www.amcharts.com/lib/3/serial.js"></script>
    <script src="https://www.amcharts.com/lib/3/plugins/export/export.min.js"></script>
    <link rel="stylesheet" href="https://www.amcharts.com/lib/3/plugins/export/export.css" type="text/css" media="all" />
    <script src="https://www.amcharts.com/lib/3/themes/light.js"></script>
    
    <meta charset="UTF-8">
    <meta name=viewport content="width=device-width, initial-scale=1">

    <!-- Reload page every minute -->
    <!-- <meta http-equiv="refresh" content="60"/> -->

  </head>

  <body>
    
    <% if logged_in? %>
      <%= render 'home/sidebar' %>
      <!-- <div class="container"> -->
      <div id="right-panel" class="right-panel">
          <%= render 'home/navbar' %>

          <%= render "home/last_updated" %>
        <%= yield %>
      </div>
    <% else %> 
      <%= render 'home/navbar' %>     
      <%= yield %>
    <% end %>

  </body>
</html>

